*

!Dockerfile
!backend/
!backend/UniversityCanteen.Api/
!backend/UniversityCanteen.Api/**

**/bin/
**/obj/
**/.build-temp/
backend/UniversityCanteen.Api/appsettings.Development.json
backend/UniversityCanteen.Api/secrets/
backend/UniversityCanteen.Api/wwwroot/uploads/
