.git
.gitignore
.vscode
.claude

**/bin
**/obj
**/.build-temp

flutter_app/build
flutter_app/.dart_tool
flutter_app/android/.gradle

admin_files/bin
admin_files/obj
backend/UniversityCanteen.Api/bin
backend/UniversityCanteen.Api/obj

*.user
*.suo