*

!Dockerfile
!Dockerfile.admin
!admin_files/
!admin_files/**
!backend/
!backend/UniversityCanteen.Api/
!backend/UniversityCanteen.Api/**
!JS/
!JS/**
!CSS/
!CSS/**
!assets/
!assets/**

**/bin/
**/obj/
**/.build-temp/
backend/UniversityCanteen.Api/appsettings.Development.json
backend/UniversityCanteen.Api/secrets/
backend/UniversityCanteen.Api/wwwroot/uploads/
admin_files/appsettings.Development.json
